@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*{
	margin:0;
}


body{
	background-color:#121212;
}

#menu{
	position:fixed;
	width:300px;
	height:500px;
	background-color:#131A25;
	height:100%;
}

#logo{
	width:100%;
	height:200px;
	background:url('../html/images/menu.png');
	background-size:100% 100%;
}

#menuu{
	width:100%;
	color:#fff;
	font-family:"Segoe UI";
	margin-top:30px;
	text-decoration:none;
}

#menuu a{
	text-decoration:none;
	color:#fff;
}

#menuu a:hover{
	text-decoration:none;
	color:silver;
}

a{
	text-decoration:none;
}

.wybor{
	width:100%;
	height:40px;
	margin-top:15px;
	cursor:pointer;
}

.wybor:hover{
	color:silver;
}

.wikona{
	float:left;
	font-size:35px;
	width:60px;
	text-align:center;
	margin-left:30px;
}

.wtekst{
	float:left;
	font-size:24px;
	width:150px;
	margin-left:10px;
	margin-top:3px;
}

#content{
	width:100%;
	background-color:#121212;
}

#gdzie{
	width:100%;
	height:70px;
	border-bottom:1px solid #fff;
	font-family:"Segoe UI";

}

#gdzie_tekst{
	margin-left:330px;
	color:#fff;
	font-size:24px;

}

#gdzie_tekst i{
	font-size:35px;
	margin-top:15px;
	margin-right:15px;
}

#szukaj{
	margin-left:300px;

}

#szukajt{
	height:60px;
	width:220px;
	color:#fff;
	font-size:24px;
	font-family:"Segoe UI";
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#szukaji{
	width:240px;
	height:34px;
	color:white;
	border:1px solid #fff;
	line-height:34px;
	margin-left:auto;
	margin-right:auto;
}

#szukaji input{
	padding:6 5;
	background-color:#121212;
	border-radius:0px;
	border:0px;
	color:#fff;
	font-size:16px;
}

#szukaji i{
	margin-left:6px;
	cursor:pointer;
}

#wystaw_fakture{
	margin-left:300px;
	margin-top:25px;
}

#wystaw_faktureb{
	background-color:#12557E;
	width:150px;
	height:30px;
	color:#fff;
	font-family:"Segoe UI";
	font-size:14px;
	line-height:30px;
	margin-left:110px;
	margin-bottom:10px;
	cursor:pointer;
}

#wystaw_faktureb i{
	font-size:20px;
	margin-right:5px;
	line-height:30px;
	margin-left:5px;
}

#tabelaa{
	margin-left:300px;
	margin-top:40px;
}

#tabelka{
	background-color:#151718;
	width:1400px;
	margin-left:auto;
	margin-right:auto;
	min-height:700px;
}

#ttytuly{
	width:96%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid #fff;
	height:40px;
}

#ttttt{
	width:100%;
	height:100%;
}
.tytulyt{
	float:left;
	color:#fff;
	font-family:"Segoe UI";
	font-size:18px;
	line-height:40px;
	width:200px;
	margin-left:56px;
	text-align:center;
}

.tytulyt1{
	float:left;
	color:#fff;
	font-family:"Segoe UI";
	font-size:18px;
	line-height:40px;
	width:180px;
	margin-left:26px;
	text-align:center;
}

.tytulyt2{
	float:left;
	color:#fff;
	font-family:"Segoe UI";
	font-size:18px;
	line-height:40px;
	width:550px;
	margin-left:26px;
	text-align:center;
}

.tytulyt3{
	float:left;
	color:#fff;
	font-family:"Segoe UI";
	font-size:18px;
	line-height:40px;
	width:200px;
	margin-left:56px;
	text-align:center;
	padding:0 0 0 20px;
}

table.blueTable {
  width: 96%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border-collapse: collapse;
  font-family:"Segoe UI";
  font-size:18px;
  color:#fff;
}
table.blueTable td{
  padding: 6px 0px;
}
table.blueTable td {
  font-size: 18px;
}


#dnumer{
	width:190px;
}

#dadres{

	width:470px;
}

#dwystawienie{

	width:220px;
	padding:0 0 0 25px;
}

#dsprzedaz{
	width:220px;
	padding:0 0 0 10px;

}

#dstatus{
	width:220px;
}

#dstatus i{
	font-size:15px;
	margin-left:7px;
	cursor:pointer;
}
